p{
	margin-left:10%;
}
.first{
margin-top:10%;
font-size:16px;
color:green;
text-decoration:underline wavy yellow;
padding-bottom:20px;
}
.second{
color:red;
text-decoration: underline dashed blue;
  text-indent: 50px;
  padding-bottom:20px;
  font-weight:bold;
}
.third{
color:grey;
font-size:20px;
text-decoration: underline double purple;
text-indent: 100px;
padding-bottom:20px;
}